vision_ws/vision_app/.vision_env/
vision_ws/vision_app/src/__pycache__/
vision_ws/cv_ext/
coordinator_ws/coordinator_app/.coordinator_env/
.vscode/

abb_ws/build/
abb_ws/install/
abb_ws/log/

abb_ws/src/abb_egm_rws_managers/
abb_ws/src/abb_librws/
abb_ws/src/abb_libegm/
abb_ws/src/abb_ros2/
abb_ws/src/abb_ros2_msgs/
abb_ws/src/mqtt_client/

abb_ws/src/profactor_ros2/*.pyc
**/__pycache__/
*.pyc
